{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card p-4">

            <h3 class="gold-text mb-4 text-center">
                Edit Project
            </h3>

            <form method="POST">

                {% csrf_token %}

                <input type="text" name="title"
                       value="{{ project.title }}"
                       class="form-control mb-3">

                <textarea name="description"
                          rows="4"
                          class="form-control mb-3">{{ project.description }}</textarea>

                <input type="text" name="tech_stack"
                       value="{{ project.tech_stack }}"
                       class="form-control mb-3">

                <input type="url" name="github_link"
                       value="{{ project.github_link }}"
                       class="form-control mb-3">

                <input type="url" name="live_demo_link"
                       value="{{ project.live_demo_link }}"
                       class="form-control mb-3">

                <button type="submit"
                        class="btn gold-btn w-100">
                    Update Project
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}
